@import '../../assets/styles/global';

.WhiteListDetailInfo {
  position: relative;
  padding: 80px 0 0;

  @media (max-width: 1200px) {
    padding: 128px 0 0px;
  }

  &-body {
    padding: 32px;
    background: $acent-d1;
    margin-bottom: 32px;

    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      padding: 20px 32px;
    }

    &-item {
      @media (max-width: 1200px) {
        margin: 0 0 32px 0;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-info {
        flex: 1;

        &-value {
          color: $primary-lc-8;
        }

        &-title {
          color: $primary-lc-8;
          margin-bottom: 4px;
          line-height: 1;
        }
      }
    }
  }

  &-title {
    margin-bottom: 32px;
    color: rgba($white, 0.9);
  }

  &-image {
    border: 2px solid $acent-blue;
    margin-bottom: 32px;
    border-radius: 4px;

    img {
      width: 100%;
    }
  }

  &-description {
    line-height: 2;
    margin-bottom: 32px;
    color: $primary-lc-8;
  }
}