@import '../../../assets/styles/global';

.Information {
  &-card {
    padding: 32px;
    background: $acent-d1;

    @media (max-width: 991px) {
      padding: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 64px;

      @media (max-width: 991px) {
        margin-bottom: 32px;
      }
    }
  }

  &-send {
    font-size: 14px;
    color: $success-2;
    cursor: pointer;
  }
}