@import '../../../assets/styles/global';

.Id {
  &-card {
    padding: 32px;
    background: $acent-d1;

    @media (max-width: 1200px) {
      padding: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 64px;

      @media (max-width: 1200px) {
        margin-bottom: 32px;
      }
    }
  }
}