@import '../../assets/styles/global';

.FollowChannel {
  &-item {
    background: $acent-d1;
    cursor: pointer;
    transition: $common-transition;
    padding-right: 16px;

    &:hover {
      background: $acent-d2;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &-image {
      flex: 0 0 40px;
      max-width: 40px;
      height: 40px;
      @include centerScaleImage;
    }

    &-text {
      padding: 0 32px;
      color: $primary-lc-8;
      line-height: 1.2;

      @media (max-width: 1200px) {
        padding: 0 16px;
      }
    }

    &-count {
      margin-left: auto;
      color: $primary-lc-8;
    }
  }
}