@import '../../assets/styles/global';

.Blogs {
  position: relative;
  padding: 80px 0;

  @media (max-width: 1200px) {
    padding: 40px 0;
  }

  &-header {
    text-align: center;
  }

  &-subtitle {
    color: $acent-blue;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &-title {
    color: $white;
    max-width: 500px;
    margin: 0 auto 64px;

    @media (max-width: 1200px) {
      margin-bottom: 32px;
    }
  }

  &-list {
    margin: 0 -16px 64px;

    @media (max-width: 1200px) {
      margin: 0 0 64px;

      .slick-list {
        margin: 0 -8px;
      }

      .slick-track {
        display: flex;
      }

      .slick-track .slick-slide {
        transform: translateX(10%);
      }
    }

    &-col {
      padding: 0 16px;
      margin-bottom: 32px;
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);

      @media (max-width: 1200px) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 0;
        padding: 0 8px;
      }
    }

    &-item {
      padding: 32px;
      background: $acent-d2;

      &-image {
        border: 1px solid $acent-light;
        background: $acent-d1;
        border-radius: 5px;
        margin-bottom: 16px;
        height: 180px;
        @include centerScaleImage;

        @media (max-width: 575px) {
          height: 130px;
        }
      }

      &-title {
        display: block;
        margin-bottom: 8px;
        color: $primary-lc-8;
      }

      &-description {
        color: $neutral-6;
      }
    }
  }
}