@import '../../assets/styles/global';

.Table {
  .ant-table {
    background: $acent-d2;

    th.ant-table-cell {
      color: $primary-lc-6;
      background: transparent;
    }

    .ant-table-tbody>tr.ant-table-row:hover>td,
    .ant-table-tbody>tr>td.ant-table-cell-row-hover {
      background: $acent-d1;
    }

    .ant-table-thead>tr>th,
    .ant-table-tbody>tr>td {
      border-color: $acent-d1;
    }

    .ant-table-cell {
      font-size: 20px;
      font-weight: 600;
      color: $primary-lc-8;
      border: 1px solid $acent-d1;
      padding: 12px;

      @media (max-width: 991px) {
        font-size: 16px;
      }
    }
  }
}