$black: #000;
$white: #fff;
$boston-blue: #3F91BD;

$primary-dc-1: #022437;
$primary-dc-2: #054A7A;

$primary: #06689D;

$primary-lc-1: #1077AF;
$primary-lc-2: #1B89C2;
$primary-lc-3: #1E96D0;
$primary-lc-4: #35A4D6;
$primary-lc-5: #50B4DC;
$primary-lc-6: #7CC9E6;
$primary-lc-7: #AEDEF0;
$primary-lc-8: #DFF3F9;

$neutral-10: #101112;
$neutral-9: #3A3E40;
$neutral-8: #606669;
$neutral-7: #82898C;
$neutral-6: #A1A7AB;
$neutral-5: #BBC1C4;
$neutral-4: #D0D6D9;
$neutral-3: #E1E6E8;
$neutral-2: #EDF1F2;
$neutral-1: #F5F6F7;

$acent-dark: #0B0B22;
$acent-d1: #18182E;
$acent-d2: #232338;
$acent-light: #fff;
$acent-blue: #25AEF7;

$success-1: #355F01;
$success-2: #9BC937;
$success-3: #DFF697;

$info-1: #014A76;
$info-2: #3DD6E0;
$info-3: #98F9F0;

$warning-1: #7A2B01;
$warning-3: #E4993E;
$warning-4: #FAD899;

$danger-1: #770724;
$danger-2: #E1594C;
$danger-3: #FAB8A1;