@import '../../assets/styles/global';

.Header {
  padding: 32px;

  @media (max-width: 1200px) {
    position: fixed;
    padding: 16px;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    background: $acent-dark;
  }

  &-back {
    flex: 0 0 24px;
    max-width: 24px;
    height: 24px;
    margin-right: 32px;
    cursor: pointer;
    display: flex;

    .Icon {
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }

  &-title {
    color: $primary-lc-8;
    line-height: 1;
    white-space: nowrap;

    @media (max-width: 1200px) {
      display: none !important;
    }
  }

  &-logo {
    max-width: 110px;
    display: none;

    @media (max-width: 1200px) {
      display: block;
    }

    img {
      width: 100%;
    }
  }
}